@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$primary: #FFCC33;
$secondary: #03B5B0;
$tertiary: #7A2B58;

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  color: $primary;
}

h3 {
  text-align: center;
  color: $secondary;
  font-size: 16pt;
}

#banner {
  background-image: url("../assets/bottom-cover.png"), url("../assets/cover.png");
  background-position: center bottom, center bottom;
  background-repeat: repeat-x, no-repeat;
  background-size: 320px, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: white;

  #logo {
    margin-top: 4rem;
  }

  div {
    text-align: center;
    margin-bottom: 13rem;
  }

  h1 {
    font-size: 30pt;
    text-transform: uppercase;
  }
}

#banner-suitcase {
  color: $primary;
  background-color: $tertiary;
  background-image: url("../assets/detail-green.png");
  background-position: -46px 102%;
  background-repeat: no-repeat;
  background-size: 90px;
  padding: 7rem 1rem 4rem 1rem;
  color: white;

  .banner-content {
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
    max-width: 50rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  h2 {
    margin: 6rem 0 2rem 0;
  }

  ul {
    margin: 2rem 0;
  }

  li {
    list-style-type: none;
    margin: 1rem 0;
  }
}

#suitcase-icon {
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translateX(-50%)
}

.square-icon:after {
  content: "a";
  background-color: $primary;
  color: $primary;
  padding: 0px 5px;
  border-radius: 2px;
  margin-right: 5px;
}

#banner-dropdown {
  background-color: $secondary;
  color: white;
  padding: 2rem;
  background-image: url("../assets/detail-grey.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 60px;

  .banner-content {
    max-width: 50rem;
    margin: 0 auto;

    h2 {
      display: none;
    }
  }

  #dropdown-cards {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;

    .dropdown-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background-color: white;
      width: min-content;
      border-radius: 20px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

      .card-img {
        margin: 2rem 4rem 1rem 4rem;
        width: 140px;
      }
    }

    .open {
      height: 22rem !important;
      background-color: $primary !important;
      transition: height 0.5s;
    }

    .bottom-card {
      height: 2rem;
      background-color: $tertiary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0px 0px 20px 20px;
      width: 100%;
      color: $tertiary;
      transition: 0.5s;

      button {
        padding: 0;
        background: transparent;
        border-radius: 18px;
        cursor: pointer;
        border: none;
      }

      img {
        width: 40px;
        margin-top: 6px;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      .bottom-card-text {
        padding: 2rem;
        display: none;
      }

      .text-open {
        display: block;
      }
    }

    #dropdown-card-folder {
      margin: 3rem 4rem 3rem 4rem;
    }
  }

}

#banner-office {
  background-color: #353535;
  color: white;

  .banner-content {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #img-office {
    width: 320px;
    border-radius: 0 0 30px 0;
  }

  #green-office {
    position: relative;
    left: 6rem;
    top: -7.5rem;
  }

  #yellow-office {
    position: relative;
    left: -7rem;
    top: 7.5rem;
  }

  p,
  h3 {
    padding: 2rem;
  }
}

#banner-accordion {
  background-color: #E5E5E5;

  .banner-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 4rem 2rem 3rem 2rem;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;

    .accordion-card {
      position: relative;
      background: $tertiary;
      top: 1rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      color: white;
      border-radius: 0 0 0 20px;
      transition: 0.5s;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      button {
        border: none;
        background: $primary;
        transition: background 0.5s;
        cursor: pointer;
        width: 3rem;
        padding-top: 5px;
      }

      .open-btn {
        background: $tertiary;
        padding-bottom: 14px;
        padding-top: 11px;
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }

    .open-card {
      background: $secondary;
    }

    p {
      padding: 0.5rem;
      font-size: 15px;
    }

  }

  .accordion-card-hidden {
    background: white;
    border-radius: 0 0 15px 15px;
    margin-right: 1rem;
    transition: 0.5s;
    max-height: 0;
    overflow: hidden;

    p {
      margin: 2rem 1rem;
    }
  }

  .accordion-card-open {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-height: 20rem;
    transition: 0.5s;
  }

}

#banner-slider {
  padding: 2rem 2rem 8rem 2rem;
  max-width: 50rem;
  margin: 0 auto;

  p {
    margin: 2rem 0;
  }

  #slider-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;

    #img-slider {
      width: 15.1rem;
      height: 15.1rem;
      padding: 15px 15px 0 0;
      background: linear-gradient(#FF3737 0 0) 103% 121%/78% 99% no-repeat;
    }

  }

  #slider {
    width: 100%;
    background: #7a2b58;
    color: white;
    padding: 2rem 2rem 0 2rem;

    #btn-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;
      top: 6rem;

      button {
        text-align: center;
        position: relative;
        background: $primary;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .disabled {
        background-color: #ffcc33a1;
      }

      #btn-prev {
        padding: 7px 13px 5px 12px;
        border-radius: 12px 0 12px 12px;
      }

      #btn-next {
        padding: 7px 12px 5px 13px;
        border-radius: 0 12px 12px 12px;
      }

      img {
        width: 0.8rem;
      }
    }

    #slider-dots {
      position: relative;
      top: 6.5rem;

      .glider-dot {
        background: #03B5B0;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .glider-dot.active {
        background: #03b5b075;
      }
    }

  }
}

#banner-circle {
  .banner-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;

    #outer-circle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 9.5rem;

      #img-circle {
        width: 17rem;
      }

      #btn-circle-red,
      #btn-circle-yellow,
      #btn-circle-grey {
        position: relative;
        border: none;
        background: #03B5B0;
        border-radius: 100%;
        cursor: pointer;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: background 0.5s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        img {
          width: 12px;
        }
      }

      #btn-circle-yellow {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 7.4rem;
      }

      #btn-circle-red {
        top: 16.66rem;
        left: 1.5rem;
      }

      #btn-circle-grey {
        top: 15.4rem;
        left: 14.3rem;
      }

      .minus {
        background: $tertiary !important;
      }
    }
  }

  #inner-circle {
    padding: 3.2rem 0.5rem;
    margin: 7rem auto;
    border-radius: 100%;
    text-align: center;
    border: 2px solid;
    width: 8rem;
    background-color: $primary;
    font-size: 11px;
    transition: background 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .last-word {
      font-weight: 800;
    }
  }

  .grey-circle {
    padding: 2.8rem 0.5rem !important;
  }

  #text-red,
  #text-grey {
    display: none;
  }
}

footer {
  background-color: $tertiary;
  display: flex;
  justify-content: center;
  padding: 5rem;

  img {
    width: 14rem;
  }
}

@media (min-width: 1080px) {
  #banner {
    gap: 4rem;

    h1 {
      font-size: 60pt;
    }
  }

  h2 {
    font-size: 27pt;
  }

  #banner-suitcase {
    padding: 8rem 4rem 6rem 4rem;
    background-position: -93px 105%;
    background-size: 200px;

    h2 {
      position: absolute;
      top: 27rem;
      left: 50%;
      transform: translateX(-50%)
    }

    div {
      max-width: 28rem;
    }

    .banner-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2rem;
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  #suitcase-icon {
    position: initial;
    transform: translateX(0%);
    width: 190px;
    height: 150px;
  }

  #banner-dropdown {
    background-size: 120px;
    
    .banner-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 50rem;
      margin: 0 auto;

      h2 {
        display: block;
      }
    }

    #dropdown-cards {
      flex-direction: row;
      align-items: flex-start;

      #doprdown-card-connection {
        margin: 2rem 4rem 1.5rem 4rem;
      }
    }
  }

  #banner-office {
    .banner-content {
      flex-direction: row-reverse;
      max-width: 50rem;
      margin: 0 auto;
    }

    div {
      display: block;
    }

    #green-office {
      left: -1rem;
      top: 2.5rem;
    }

    #yellow-office {
      left: 13rem;
      top: -2.5rem;
    }

    h3 {
      font-size: 20pt;
      padding: 4rem 0 0 0;
    }

    p {
      padding: 0 4rem 0 0;
    }
  }

  #banner-accordion {
    .banner-content {
      padding: 4rem 0 3rem 0;
    }

    .accordion {
      p {
        padding: 1rem;
      }

      .accordion-card {
        align-items: center;

        button {
          width: 3.3rem;
          padding: 9px 10px 9px 10px;
        }

        .open-btn {
          padding-bottom: 8px;
          padding-top: 0;
          height: 3.3rem;
        }
      }
    }
  }

  #banner-slider {
    #slider-content {
      flex-direction: row;
      margin: 0;
      position: relative;
      right: 1rem;
      gap: 0;

      #img-slider {
        height: auto;
        position: relative;
        left: 1rem;
        padding: 0 15px 15px 0;
        background: linear-gradient(#FF3737 0 0) 100% 100%/90% 76% no-repeat;
      }
    }

    #slider {
      padding: 2rem 2rem 0 4rem;
      width: 58%;

      #btn-slider {
        top: 3rem;
      }

      #slider-dots {
        top: 3.5rem;
      }
    }
  }

  #banner-circle {
    .banner-content {

      #outer-circle {
        margin-top: 13rem;

        #img-circle {
          width: 25rem;
        }

        #btn-circle-yellow,
        #btn-circle-red,
        #btn-circle-grey {
          height: 35px;
          width: 35px;
        }

        #btn-circle-yellow {
          top: 12rem;
        }

        #btn-circle-red {
          top: 25rem;
          left: 2rem;
        }

        #btn-circle-grey {
          top: 23rem;
          left: 20.9rem;
        }
      }

      #inner-circle {
        padding: 4.5rem 2.5rem;
        font-size: 14px;
        margin: 10rem auto;

      }

      .grey-circle {
        padding: 4rem 2.5rem !important;
      }
    }
  }

  footer {
    img {
      width: 18rem;
    }
  }
}

@media (max-width: 360px) {
  #banner-office {
    div {
      overflow: hidden;
      height: 44rem;
    }

    #img-office {
      border-radius: 0;
    }

    #green-office {
      left: 4.5rem;
      top: -7.5rem;
    }

    #yellow-office {
      left: -4rem;
      top: 7.5rem;
    }
  }

  #banner-slider {
    #slider-content {
      gap: 0;
    }
  }
}